ol li {
    background-color: yellow;
}

ol li.par {
    color: green;
}

ol li.impar {
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.fonte-azul {
    color: blue;
}

.stackOverflow:hover{
    font-weight: bold;
    color: orange;
}

.w3:hover {
    font-weight: bold;
    color: green;
}

.mdn:hover {
    font-weight: bold;
    color: black;
}

.devDocs:hover {
    font-weight: bold;
    color: yellow;
}

.trybe:hover {
    font-weight: bold;
    color: green;
}